mainToolsHeight=45px
pictoButtonSize=mainToolsHeight*0.85



@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
*
	font-family Ubuntu, sans-serif

#langPicker
	display none

#details
	padding 10px
	>.header.trad>h2
		background-image url(../staticApp/appImg/unknow.svg)
	>.header.viz>h2
		background-image url(../allData/img/mainTools/vizMode.svg)
	>.header.edit>h2
		background-image url(../allData/img/mainTools/editMode.svg)
	>.header>h2
		display block
		height 60px
		line-height 60px
		background-size 60px 60px
		background-position 0 0
		background-repeat no-repeat
		margin-bottom 10px
		padding-left 70px
		font-size 20px
	.line
		display flex
		padding-bottom 5px
		border-bottom 1px solid black
		border-bottom-color darken(#d7e1e2, 10%)
		margin-bottom 5px
		>*
			flex 1


#legend>.header>h2
	font-size 20px


.pictoButton
	height mainToolsHeight
	width mainToolsHeight
	background-image url(../staticApp/appImg/unknow.svg)
	background-size pictoButtonSize pictoButtonSize
	background-position ((mainToolsHeight - pictoButtonSize)/2) ((mainToolsHeight - pictoButtonSize)/2)
	background-repeat no-repeat
	&:hover
		background-color lighten(#7c9899, 70%)
		cursor pointer

#main-tools
	display flex
	.left
		flex 1
		display flex
		text-align left;
		>*
			display block
	.right
		flex 1
		display flex
		justify-content: flex-end;
		>*
			display block
	h1
		line-height mainToolsHeight
		padding 0 20px
		color #dcf69d
		font-size 20px
		font-weight bold
		letter-spacing 2px
		white-space nowrap
	.ghost
		opacity 0.5
		&:hover
			cursor auto
			background-color #7c9899

#loginButton
	background-image url(../allData/img/mainTools/login.svg)
#emailButton
	background-image url(../allData/img/mainTools/email.svg)
#faqButton
	background-image url(../allData/img/mainTools/faq.svg)
#alertsButton
	background-image url(../allData/img/mainTools/alerts.svg)
#visuButton
	background-image url(../allData/img/mainTools/visu.svg)
#vizModeButton
	background-image url(../allData/img/mainTools/vizMode.svg)
#editModeButton
	background-image url(../allData/img/mainTools/editMode.svg)
#diagramGenButton
	background-image url(../allData/img/mainTools/diagramGen.svg)
#printButton
	background-image url(../allData/img/mainTools/print.svg)
#exportData
	background-image url(../allData/img/mainTools/exportData.svg)
#search
	searchDeco=mainToolsHeight*0.9
	background-image url(../allData/img/mainTools/search.svg)
	background-size searchDeco searchDeco
	background-position bottom left
	background-repeat no-repeat
	.decoSearch
		height searchDeco
		width 34px
		background-image url(../allData/img/mainTools/search.svg)
		background-size searchDeco searchDeco
		position absolute
		bottom 0
	input
		height 25px
		width 180px
		margin-left 28px
		margin-top 10px
		margin-right 10px
		padding-left 8px

.link
	opacity 0.7
	> line
		stroke grey
	> use
		fill grey
.link:hover
	opacity 1

.node.Genre_PersonneMorale
	circle, path
		fill: #dc781d
.node.Genre_Projet
	circle, path
		fill: #3cbdc9
.node.Genre_PersonnePhysique
	circle, path
		fill: #bd78da
.node.Genre_Publication
	circle, path
		fill: #e6e829
.node.Genre_Evenement
	circle, path
		fill: #5abe27

.link.Links_Autre
	> line
		stroke #818181
	> use
		fill #818181
.link.Links_Financement
	> line
		stroke #da25bf
	> use
		fill #da25bf
.link.Links_Gouvernance
	> line
		stroke #da2525
	> use
		fill #da2525
.link.Links_Partenariat
	> line
		stroke #2549da
	> use
		fill #2549da
.link.Links_Proche
	> line
		stroke #25da79
	> use
		fill #25da79
.link.Links_Membre
	> line
		stroke #FFFF00
	> use
		fill #FFFF00
.link.Links_Service
	> line
		stroke #dac925
	> use
		fill #dac925
.link.Links_AncienLien
	> line
		stroke-dasharray: 5,5
#viz .link.selected
	> line
		stroke red
	> use
		fill red
