h1,
h2,
h3,
h4 {
  font-weight: bold;
}
.empty {
  display: none !important;
}
#legend {
  width: 180px;
  background-color: #a5bfc0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
#legend .header {
  display: flex;
  position: relative;
  z-index: 5;
}
#legend .header h2 {
  flex: 9;
  line-height: 40px;
  text-align: center;
}
#legend .header a {
  flex: 1;
  display: block;
}
#legend .left,
#legend .icon {
  height: 40px;
  width: 40px;
}
#legend .left img,
#legend .icon img {
  height: 30px;
  width: 30px;
  margin: 5px 5px;
}
#legend .wrapper {
  height: calc(100% - layerHeight);
  position: relative;
}
#legend ul {
  position: relative;
}
#legend .layer {
  display: block;
  position: relative;
}
#legend .layer.final>.layerLine>.right {
  padding-right: 4px;
  width: 24px;
}
#legend .header {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.layerLine {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.layerLine >* {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.layerLine:hover >* {
  background-color: #c0d2d3;
}
#legend >.wrapper>ul>.layer >.layerLine >.jauge {
  background-color: #90b0b1;
}
#legend >.wrapper>ul>.layer >.layerLine >.jauge >.fill {
  background-color: #679193;
}
#legend >.wrapper>ul>.layer >.subLayers {
  border-color: #4a6869;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine {
  background-color: #9bb8b9;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine >* {
  background-color: #9bb8b9;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #b9cdce;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #87aaab;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #628b8c;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers {
  border-color: #466364;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #91b1b2;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #91b1b2;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #b2c8c9;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #7ea4a5;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #5d8485;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #435e5f;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #88aaab;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #88aaab;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #acc3c4;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #769d9e;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #597d7e;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #40595a;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #7fa4a5;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #7fa4a5;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #6e9899;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #547778;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #3c5556;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #769e9f;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #769e9f;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #9fbbbc;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #679293;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #507172;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #395151;
}
#legend .final .layerLine .middle h3.title {
  font-weight: normal;
}
#legend .layerLine {
  height: 40px;
  display: flex;
  position: relative;
  z-index: 2;
  text-align: left;
}
#legend .layerLine .title {
  line-height: 40px;
  padding-left: 5px;
  overflow: hidden;
}
#legend .layerLine >* {
  position: relative;
  z-index: 2;
}
#legend .layerLine:hover >* {
  background-color: #c0d2d3;
}
#legend .layerLine:hover >.rightExtension {
  right: -200px;
  width: 200px;
  background-color: #c0d2d3;
}
#legend .layerLine:hover >.jauge {
  width: 12px;
  margin-right: -8px;
}
#legend .layerLine .rightExtension {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  padding-left: 13px;
  height: 40px;
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
  width: 100%;
  right: 0;
}
#legend .layerLine .left {
  position: relative;
  width: 40px;
}
#legend .layerLine .left .layerEntityCount {
  position: absolute;
  bottom: 2px;
  right: 0;
  background-color: #eee;
  border-radius: 4px;
  padding: 0 2px;
}
#legend .layerLine .middle {
  flex: 9 70px;
  overflow: hidden;
}
#legend .layerLine .right {
  width: 20px;
  text-align: center;
  line-height: 20px;
/*
			input // taille checkbox
				width 16px
				height 16px
			*/
}
#legend .layerLine .right .unfold,
#legend .layerLine .right .fold {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  display: block;
}
#legend .layerLine .right .fold {
  display: none;
}
#legend .layerLine .jauge {
  position: relative;
  height: 40px;
  width: 4px;
  transition: all 0.5s;
}
#legend .layerLine .jauge .fill {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
#legend .subLayers {
  border-width: 0;
  margin-left: 4px;
  border-left-width: 2px;
  border-style: solid;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}
#legend .subLayers >.layer>.layerLine {
  transition: all 0.5s;
  height: 0;
}
#legend .subLayers >.layer>.layerLine >* {
  transition: top 0.5s;
  top: -40px;
}
#legend .subLayers >.layer>.subLayers {
  display: none;
}
#legend .layer.expanded>.layerLine >.right>.fold {
  display: block;
}
#legend .layer.expanded>.layerLine >.right>.unfold {
  display: none;
}
#legend .layer.expanded>.subLayers {
  border-bottom-width: 2px;
  margin-bottom: 4px;
}
#legend .layer.expanded>.subLayers >.layer>.layerLine {
  height: 40px;
}
#legend .layer.expanded>.subLayers >.layer>.layerLine >* {
  top: 0;
}
#legend .layer.expanded>.subLayers >.layer>.subLayers {
  display: block;
}
.hidden {
  display: none;
}
* {
  font-family: Calibri, sans-serif;
  font-size: 11pt;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}
body {
  background-color: #eee;
}
.link:hover {
  cursor: pointer;
}
.node circle {
  opacity: 0.5;
}
.node path {
  opacity: 0.7;
  display: none;
}
.node:hover {
  cursor: pointer;
}
.node:hover circle {
  opacity: 0.8;
}
.node.fixed path {
  display: block;
}
.node.fixed circle {
  display: none;
}
.node.fixed:hover path {
  opacity: 1;
}
.node.selected path,
.node.selected circle {
  stroke-width: 4px;
  stroke: #c44;
  opacity: 0.7;
}
.node.selected:hover * {
  opacity: 1;
}
#viz .nearlyHidden {
  opacity: 0.2;
}
#viz.loading {
  top: 45px;
  left: 180px;
  width: calc(100% - 480px);
  height: calc(100% - 45px);
}
noscript {
  position: fixed;
  top: 95px;
  left: 180px;
  width: calc(100% - 480px);
  text-align: center;
  z-index: 100;
  color: #a22;
}
.picto {
  width: 24px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
a:hover {
  text-decoration: underline;
}
#logoArea {
  background-color: #a5bfc0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 180px;
  z-index: 2;
}
#logoArea * {
  display: block;
  width: 100%;
  max-height: 100px;
}
#tools-panel {
  background-color: #7c9899;
  position: fixed;
  top: 0;
  left: 180px;
  right: 0;
  height: 135px;
}
#tools-panel.small {
  top: -90px;
}
#tools-panel.small .reduce {
  display: none;
}
#tools-panel.big {
  top: 0;
}
#tools-panel.big .expand {
  display: none;
}
#tools-panel #advanced-tools {
  height: 90px;
  background-color: #788888;
}
#tools-panel #main-tools {
  height: 45px;
}
#tools-panel .expand,
#tools-panel .reduce {
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  border-radius: 0;
  border-bottom-right-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 24px;
  padding-right: 6px;
  padding-bottom: 6px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: -30px;
  background-color: #7c9899;
}
#tools-panel .expand:hover,
#tools-panel .reduce:hover {
  background-color: #a3b7b8;
}
#legend {
  background-color: #a5bfc0;
  position: fixed;
  display: block;
  top: 100px;
  left: 0;
  bottom: 0;
  width: 180px;
}
#legend.hidden {
  left: -180px;
}
#legend.small {
  left: 0;
}
#legend.small .expand {
  display: none;
}
#tools-panel.hidden ~ #details {
  top: 0;
}
#tools-panel.small ~ #details {
  top: 45px;
}
#tools-panel.big ~ #details {
  top: 135px;
}
#details {
  background-color: #788888;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  padding-top: 80px;
  padding-bottom: 0;
  width: 300px;
}
#details.hidden {
  right: -300px;
}
#details.small {
  right: 0;
}
#details.big {
  width: 600px;
}
#details.big .expand {
  display: none;
}
#details section.wrapper {
  background-color: #d7e1e2;
  padding: 10px;
  height: calc(100% - 70px);
  overflow: auto;
}
#details section.wrapper >:last-child {
  margin-bottom: 40px;
}
#details section.wrapper form a,
#details section.wrapper label {
  display: block;
  clear: both;
}
#details section.wrapper ul {
  padding-left: 20px;
}
#details section.wrapper h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#details section.wrapper p {
  text-align: justify;
  margin-bottom: 10px;
}
#details section.wrapper a {
  font-weight: normal;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgba(51,51,51,0.5);
}
#details section.wrapper a:hover {
  text-decoration-style: solid;
}
#details .expand,
#details .reduce {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  border-radius: 0;
  border-bottom-left-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 24px;
  padding-left: 6px;
  padding-bottom: 6px;
  margin-top: 0;
  margin-left: -30px;
  background-color: #788888;
}
#details .expand:hover,
#details .reduce:hover {
  background-color: #a1acac;
}
footer {
  background-color: #7c9899;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 300px;
  z-index: 2;
  text-align: center;
}
footer a {
  margin: 0 10px;
  line-height: 30px;
  display: inline-block;
}
footer .expand,
footer .reduce {
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
  border-top-left-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-left: -30px;
  background-color: #7c9899;
}
footer .expand:hover,
footer .reduce:hover {
  background-color: #a3b7b8;
}
/*
#search
	position absolute
	right 0
	bottom 0
	height 30px
	width detailsSmallWidth
#langPicker
	position absolute
	right detailsSmallWidth
	bottom 0
	width (detailsSmallWidth / 2)
	height mainToolsHeight
*/
.hidden,
.small,
.big {
  transition: all 0.5s;
}
#viz {
  position: fixed;
  z-index: -2;
}
#viz * {
  transition: 0.5s all;
}
#errBox {
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  left: 180px;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#errBox .err {
  color: #900;
  padding: 0 20px;
  display: block;
  transition: opacity 5s;
}
#errBox .err.fade {
  opacity: 0;
}
.expand,
.reduce {
  font-weight: bold;
  font-size: 20px;
  background: rgba(136,136,136,0.7);
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.expand.bottom,
.reduce.bottom {
  top: 100%;
}
.expand.left,
.reduce.left {
  left: 0;
}
.expand.right,
.reduce.right {
  left: 100%;
}
.expand:hover,
.reduce:hover {
  cursor: pointer;
  background: #888;
}
.expand.bottom {
  margin-top: 0;
  height: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.reduce.bottom {
  height: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.expand.left,
.reduce.right {
  width: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.reduce.left,
.expand.right {
  margin-left: 0;
  width: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#tradForm label,
form label {
  display: block;
  clear: both;
}
#tradForm input,
form input {
  width: 50%;
  float: right;
}
#tradForm input[type="radio"],
form input[type="radio"] {
  width: auto;
  float: none;
  margin-right: 5px;
}
#tradForm textarea,
form textarea {
  display: block;
  width: 100%;
}
fieldset {
  margin-top: 20px;
  padding: 5px;
}
fieldset legend {
  font-weight: bold;
  font-size: 120%;
  padding-left: 10px;
  padding-right: 10px;
}
.header.viz img {
  height: 60px;
  float: left;
}
.header.viz h2 {
  padding-left: 0 !important;
  background-image: none !important;
  overflow: hidden;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("default/theme/fonts/ubuntu-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("default/theme/fonts/ubuntu-bold-webfont.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
* {
  font-family: Ubuntu, sans-serif;
}
#langPicker {
  display: none;
}
#details {
  padding: 10px;
}
#details >.header.trad>h2 {
  background-image: url("../staticApp/appImg/unknow.svg");
}
#details >.header.viz>h2 {
  background-image: url("../staticApp/appImg/vizMode.svg");
}
#details >.header.edit>h2 {
  background-image: url("../staticApp/appImg/editMode.svg");
}
#details >.header>h2 {
  display: block;
  height: 60px;
  line-height: 60px;
  background-size: 60px 60px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  padding-left: 70px;
  font-size: 20px;
}
#details .line {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  border-bottom-color: #bdcecf;
  margin-bottom: 5px;
}
#details .line >* {
  flex: 1;
}
#legend>.header>h2 {
  font-size: 20px;
}
.pictoButton {
  height: 45px;
  width: 45px;
  background-image: url("../staticApp/appImg/unknow.svg");
  background-size: 38.25px 38.25px;
  background-position: 3.375px 3.375px;
  background-repeat: no-repeat;
}
.pictoButton:hover {
  background-color: #d8e0e0;
  cursor: pointer;
}
#main-tools {
  display: flex;
}
#main-tools .left {
  flex: 1;
  display: flex;
  text-align: left;
}
#main-tools .left >* {
  display: block;
}
#main-tools .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#main-tools .right >* {
  display: block;
}
#main-tools h1 {
  line-height: 45px;
  padding: 0 20px;
  color: #dcf69d;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  white-space: nowrap;
}
#main-tools .ghost {
  opacity: 0.5;
}
#main-tools .ghost:hover {
  cursor: auto;
  background-color: #7c9899;
}
#loginButton {
  background-image: url("../staticApp/appImg/login.svg");
}
#emailButton {
  background-image: url("../staticApp/appImg/email.svg");
}
#faqButton {
  background-image: url("../staticApp/appImg/faq.svg");
}
#alertsButton {
  background-image: url("../staticApp/appImg/alerts.svg");
}
#visuButton {
  background-image: url("../staticApp/appImg/visu.svg");
}
#vizModeButton {
  background-image: url("../staticApp/appImg/vizMode.svg");
}
#editModeButton {
  background-image: url("../staticApp/appImg/editMode.svg");
}
#diagramGenButton {
  background-image: url("../staticApp/appImg/diagramGen.svg");
}
#printButton {
  background-image: url("../staticApp/appImg/print.svg");
}
#exportData {
  background-image: url("../staticApp/appImg/exportData.svg");
}
#search {
  background-image: url("../staticApp/appImg/search.svg");
  background-size: 40.5px 40.5px;
  background-position: bottom left;
  background-repeat: no-repeat;
}
#search .decoSearch {
  height: 40.5px;
  width: 34px;
  background-image: url("../staticApp/appImg/search.svg");
  background-size: 40.5px 40.5px;
  position: absolute;
  bottom: 0;
}
#search input {
  height: 25px;
  width: 180px;
  margin-left: 28px;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 8px;
}
.link {
  opacity: 0.7;
}
.link > line {
  stroke: #808080;
}
.link > use {
  fill: #808080;
}
.link:hover {
  opacity: 1;
}
.node.Genre_PersonneMorale circle,
.node.Genre_PersonneMorale path {
  fill: #dc781d;
}
.node.Genre_Projet circle,
.node.Genre_Projet path {
  fill: #3cbdc9;
}
.node.Genre_PersonnePhysique circle,
.node.Genre_PersonnePhysique path {
  fill: #bd78da;
}
.node.Genre_Publication circle,
.node.Genre_Publication path {
  fill: #e6e829;
}
.node.Genre_Evenement circle,
.node.Genre_Evenement path {
  fill: #5abe27;
}
.link.Links_Autre > line {
  stroke: #818181;
}
.link.Links_Autre > use {
  fill: #818181;
}
.link.Links_Financement > line {
  stroke: #da25bf;
}
.link.Links_Financement > use {
  fill: #da25bf;
}
.link.Links_Gouvernance > line {
  stroke: #da2525;
}
.link.Links_Gouvernance > use {
  fill: #da2525;
}
.link.Links_Partenariat > line {
  stroke: #2549da;
}
.link.Links_Partenariat > use {
  fill: #2549da;
}
.link.Links_Proche > line {
  stroke: #25da79;
}
.link.Links_Proche > use {
  fill: #25da79;
}
.link.Links_Membre > line {
  stroke: #ff0;
}
.link.Links_Membre > use {
  fill: #ff0;
}
.link.Links_Service > line {
  stroke: #dac925;
}
.link.Links_Service > use {
  fill: #dac925;
}
.link.Links_AncienLien > line {
  stroke-dasharray: 5, 5;
}
#viz .link.selected > line {
  stroke: #f00;
}
#viz .link.selected > use {
  fill: #f00;
}
